
<div>
  <h1>Welcome to Y!</h1>
  <p>This is the homepage of my Y profile</p>
</div>

<div> 
  <%= link_to "About me", about_path,  class: "btn btn-primary" %>
  <%= link_to "Contact", contact_path,  class: "btn btn-primary" %>
</div>

